In [89]:
import pandas as pd
crop_data = pd.read_csv('crop_production_main.csv')
rain_data = pd.read_csv('rainfall_data.csv')
check = pd.read_csv('check.csv')
crop_data.head()

,Unnamed: 0,Unnamed: 0.1,state,district,year,season,crop,area,production
0,0,0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,1,1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,2,2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,3,3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,4,4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [30]:
crop_data.drop(crop_data.loc[crop_data['year']==1997].index, inplace=True)
crop_data.drop(crop_data.loc[crop_data['year']==1998].index, inplace=True)
crop_data.drop(crop_data.loc[crop_data['year']==1999].index, inplace=True)
crop_data.to_csv('crop_production_main.csv')

In [88]:
crop_data.drop(crop_data.loc[crop_data['state'] == 'puducherry'].index, inplace=True)
crop_data.to_csv('crop_production_main.csv')

In [90]:
df = pd.merge(crop_data, rain_data, how="left", right_on=["SUBDIVISION", "YEAR"], left_on=["state", "year"])
df.to_csv('check.csv', index=False);

In [74]:
df.head()

,state,district,year,season,crop,area,production,SUBDIVISION,YEAR,JAN,...,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2

In [32]:
crop_data.head()

,Unnamed: 0,state,district,year,season,crop,area,production
0,0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [19]:
crop_data.drop(crop_data.loc[crop_data['year']==1999].index, inplace=True)

In [37]:
crop_data = crop_data.drop(crop_data.columns[crop_data.columns.str.contains('Unnamed: 0')],axis = 1)
crop_data.head()
crop_data.to_csv('crop_production_main.csv', index=False)

In [40]:
rain_data = rain_data.drop(rain_data.columns[rain_data.columns.str.contains('Unnamed: 0')],axis = 1)
rain_data.head()
rain_data.to_csv('rainfall_data.csv', index=False)

In [47]:
check.head(50)

,state,district,year,season,crop,area,production,SUBDIVISION,YEAR,JAN,...,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.00,2000.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.00,1.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.00,321.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.00,641.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.00,165.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
5,andaman and nicobar islands,NICOBARS,2000,Whole Year,Coconut,18168.00,65100000.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
6,andaman and nicobar islands,NICOBARS,2000,Whole Year,Dry ginger,36.00,100.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
7,andaman and nicobar islands,NICOBARS,2000,Whole Year,Sugarcane,1.00,2.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
8,andaman and nicobar islands,NICOBARS,2000,Whole Year,Sweet potato,5.00,15.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
9,andaman and nicobar islands,NICOBARS,2000,Whole Year,Tapioca,40.00,169.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
10,andaman and nicobar islands,NICOBARS,2001,Kharif,Arecanut,1254.00,2061.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
11,andaman and nicobar islands,NICOBARS,2001,Kharif,Other Kharif pulses,2.00,1.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
12,andaman and nicobar islands,NICOBARS,2001,Kharif,Rice,83.00,300.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
13,andaman and nicobar islands,NICOBARS,2001,Whole Year,Cashewnut,719.00,192.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
14,andaman and nicobar islands,NICOBARS,2001,Whole Year,Coconut,18190.00,64430000.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
15,andaman and nicobar islands,NICOBARS,2001,Whole Year,Dry ginger,46.00,100.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
16,andaman and nicobar islands,NICOBARS,2001,Whole Year,Sugarcane,1.00,1.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
17,andaman and nicobar islands,NICOBARS,2001,Whole Year,Sweet potato,11.00,33.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
18,andaman and nicobar islands,NICOBARS,2002,Kharif,Rice,189.20,510.84,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
19,andaman and nicobar islands,NICOBARS,2002,Whole Year,Arecanut,1258.00,2083.00,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
20,andaman and nicobar islands,NICOBARS,2002,Whole Year,Banana,213.00,1278.00,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
21,andaman and nicobar islands,NICOBARS,2002,Whole Year,Black pepper,63.00,13.50,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
22,andaman and nicobar islands,NICOBARS,2002,Whole Year,Cashewnut,719.00,208.00,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
23,andaman and nicobar islands,NICOBARS,2002,Whole Year,Coconut,18240.00,67490000.00,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
24,andaman and nicobar islands,NICOBARS,2002,Whole Year,Dry chillies,413.00,28.80,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
25,andaman and nicobar islands,NICOBARS,2002,Whole Year,Dry ginger,47.30,133.00,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
26,andaman and nicobar islands,NICOBARS,2002,Whole Year,Sugarcane,5.00,40.00,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
27,andaman and nicobar islands,NICOBARS,2003,Kharif,Rice,52.00,90.17,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
28,andaman and nicobar islands,NICOBARS,2003,Whole Year,Arecanut,1261.00,1525.00,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
29,andaman and nicobar islands,NICOBARS,2003,Whole Year,Banana,266.00,1763.00,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
30,andaman and nicobar islands,NICOBARS,2003,Whole Year,Black pepper,75.50,15.86,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
31,andaman and nicobar islands,NICOBARS,2003,Whole Year,Cashewnut,717.00,208.50,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
32,andaman and nicobar islands,NICOBARS,2003,Whole Year,Coconut,18284.74,68580000.00,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
33,andaman and nicobar islands,NICOBARS,2003,Whole Year,Dry chillies,60.00,102.00,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
34,andaman and nicobar islands,NICOBARS,2003,Whole Year,Dry ginger,102.00,326.40,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
35,andaman and nicobar islands,NICOBARS,2003,Whole Year,other oilseeds,4.20,0.30,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
36,andaman and nicobar islands,NICOBARS,2004,Kharif,Rice,52.94,72.57,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
37,andaman and nicobar islands,NICOBARS,2004,Whole Year,Arecanut,1264.70,805.85,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
38,andaman and nicobar islands,NICOBARS,2004,Whole Year,Banana,66.42,404.12,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
39,andaman and nicobar islands,NICOBARS,2004,Whole Year,Black pepper,85.00,15.86,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
40,andaman and nicobar islands,NICOBARS,2004,Whole Year,Cashewnut,683.50,197.90,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
41,andaman and nicobar islands,NICOBARS,2004,Whole Year,Coconut,18394.70,52380000.00,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
42,andaman and nicobar islands,NICOBARS,2004,Whole Year,Dry chillies,60.00,145.20,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
43,andaman and nicobar islands,NICOBARS,2004,Whole Year,Dry ginger,118.00,366.00,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
44,andaman and nicobar islands,NICOBARS,2004,Whole Year,other oilseeds,1.00,0.11,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
45,andaman and nicobar islands,NICOBARS,2005,Kharif,Rice,2.09,12.06,andaman and nicobar islands,2005.0,0.0,...,51.1,305.3,452.4,429.3,311.1,507.5,293.5,300.1,283.9,2954.7
46,andaman and nicobar islands,NICOBARS,2005,Whole Year,Arecanut,795.67,NaN,andaman and nicobar islands,2005.0,0.0,...,51.1,305.3,452.4,429.3,311.1,507.5,293.5,300.1,283.9,2954.7
47,andaman and nicobar islands,NICOBARS,2005,Whole Year,Banana,22.00,582.00,andaman and nicobar islands,2005.0,0.0,...,51.1,305.3,452.4,429.3,311.1,507.5,293.5,300.1,283.9,2954.7
48,andaman and nicobar islands,NICOBARS,2005,Whole Year,Black pepper,41.00,0.10,andaman and nicobar islands,2005.0,0.0,...,51.1,305.3,452.4,429.3,311.1,507.5,293.5,300.1,283.9,2954.7
49,andaman and nicobar islands,NICOBARS,2005,Whole Year,Cashewnut,450.00,55.80,andaman and nicobar islands,2005.0,0.0,...,51.1,305.3,452.4,429.3,311.1,507.5,293.5,300.1,283.9,2954.7

In [49]:
crop_data.head()

,state,district,year,season,crop,area,production
0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [51]:
rain_data.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,andaman and nicobar islands,2000,53.0,59.0,171.3,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
1,andaman and nicobar islands,2001,89.0,15.7,143.3,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
2,andaman and nicobar islands,2002,10.6,0.0,11.5,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
3,andaman and nicobar islands,2003,44.3,7.9,149.2,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
4,andaman and nicobar islands,2004,54.5,35.9,36.5,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1

In [52]:
check.head()

,state,district,year,season,crop,area,production,SUBDIVISION,YEAR,JAN,...,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2

In [79]:
rain_data.groupby("SUBDIVISION").head(1)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,andaman and nicobar islands,2000,53.0,59.0,171.3,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
15,arunachal pradesh,2000,54.1,47.1,139.9,293.8,267.2,459.8,395.4,387.4,407.4,81.3,53.9,9.6,2596.8
30,assam,2000,20.5,13.7,65.9,238.5,375.1,540.2,313.3,513.2,299.9,83.9,22.2,0.4,2487.0
45,meghalaya,2000,20.5,13.7,65.9,238.5,375.1,540.2,313.3,513.2,299.9,83.9,22.2,0.4,2487.0
60,bihar,2000,0.5,12.1,3.6,37.2,96.2,267.2,264.3,201.4,314.8,9.6,0.0,0.1,1207.0
75,chhattisgarh,2000,2.6,0.0,0.6,1.5,9.3,180.7,322.4,215.6,169.1,4.3,0.2,0.1,906.3
90,andhra pradesh,2000,0.1,42.4,0.7,19.1,68.4,200.5,154.1,311.5,102.9,69.6,10.6,12.4,992.3
105,rajasthan,2000,0.3,0.6,0.4,2.3,21.0,20.2,270.6,95.5,28.7,0.4,0.0,0.1,440.0
120,uttar pradesh,2000,2.6,5.3,2.9,10.5,38.6,199.1,240.9,204.7,222.7,1.3,18.1,0.2,946.8
135,bengal,2000,9.5,57.9,3.8,54.0,215.0,205.6,341.5,178.4,428.4,76.2,1.6,0.1,1572.1
150,gujarat,2000,0.0,0.1,0.0,0.0,36.1,62.9,301.1,133.0,13.5,0.2,0.0,3.6,550.6
165,haryana,2000,17.1,29.1,1.4,1.3,22.8,58.9,146.8,87.9,17.5,0.0,0.4,1.2,384.4
180,himachal pradesh,2000,118.2,119.0,68.1,25.6,79.9,198.0,265.1,126.7,50.1,0.0,10.5,6.9,1068.4
195,jammu and kashmir,2000,159.5,106.6,90.4,30.4,51.1,95.5,193.7,123.6,73.2,1.4,21.0,38.2,984.6
210,jharkhand,2000,3.6,21.2,6.3,19.6,67.7,185.3,358.4,152.8,356.9,19.1,0.4,0.2,1191.5
225,kerala,2000,11.7,57.8,21.5,96.3,124.5,633.8,343.2,566.5,195.8,214.2,78.1,69.1,2412.6
240,goa,2000,1.2,0.0,0.0,0.9,190.3,739.4,1200.4,789.5,111.9,91.8,1.6,6.2,3133.2
255,lakshadweep,2000,83.3,18.9,3.4,47.9,204.6,225.4,95.5,319.9,164.5,141.4,56.3,11.0,1372.1
270,maharashtra,2000,0.4,1.1,0.2,1.7,18.5,173.0,198.7,159.6,87.0,56.5,2.7,2.1,701.6
285,tripura,2000,22.5,26.1,129.1,214.2,403.6,325.4,269.2,465.0,298.3,185.2,24.2,1.1,2363.9
300,karnataka,2000,0.4,2.6,0.1,8.4,49.0,107.5,127.1,164.6,134.4,115.1,2.8,0.5,712.4
315,odisha,2000,0.9,33.3,1.1,21.3,74.7,233.7,272.3,273.6,158.0,26.6,1.6,0.1,1097.2
330,punjab,2000,25.4,26.6,6.9,1.3,15.3,50.1,164.8,70.0,42.0,0.0,0.7,2.2,405.3
345,sikkim,2000,10.7,36.2,55.1,185.1,326.5,649.6,574.3,498.1,465.8,82.9,22.6,1.2,2908.0
360,tamil nadu,2000,30.3,74.5,9.4,41.6,54.7,52.2,45.8,136.1,169.8,120.3,148.6,88.9,972.0
375,telangana,2000,0.6,16.8,1.0,16.3,48.8,253.2,220.9,420.5,70.7,20.2,6.4,2.5,1078.0
390,uttarakhand,2000,29.9,69.4,37.9,18.1,83.3,313.9,420.1,536.1,195.3,1.1,7.0,0.7,1712.9
405,madhya pradesh,2000,0.1,NaN,0.1,0.1,30.1,93.4,320.5,136.2,31.6,1.2,0.0,0.2,NaN
420,manipur,2000,22.5,26.1,129.1,214.2,403.6,325.4,269.2,465.0,298.3,185.2,24.2,1.1,2363.9
435,nagaland,2000,22.5,26.1,129.1,214.2,403.6,325.4,269.2,465.0,298.3,185.2,24.2,1.1,2363.9
450,mizoram,2000,22.5,26.1,129.1,214.2,403.6,325.4,269.2,465.0,298.3,185.2,24.2,1.1,2363.9

In [72]:
crop_data.groupby("state").head(1)

,state,district,year,season,crop,area,production
0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.00,2000.0
203,andhra pradesh,ANANTAPUR,2000,Kharif,Arhar/Tur,30693.00,7888.0
8771,arunachal pradesh,ANJAW,2004,Kharif,Maize,2453.00,2674.0
10878,assam,BAKSA,2005,Autumn,Rice,17083.00,15415.0
23677,bihar,ARARIA,2000,Autumn,Rice,88865.00,84685.0
39335,chandigarh,CHANDIGARH,2000,Kharif,Arhar/Tur,20.00,NaN
39403,chhattisgarh,BALOD,2011,Kharif,Arhar/Tur,607.00,290.0
50112,dadra and nagar haveli,DADRA AND NAGAR HAVELI,2000,Kharif,Arhar/Tur,1466.00,1078.0
50336,goa,NORTH GOA,2004,Kharif,Groundnut,3204.00,5234.0
50532,gujarat,AHMADABAD,2000,Kharif,Arhar/Tur,4600.00,1500.0
57645,haryana,AMBALA,2000,Kharif,Arhar/Tur,257.00,300.0
62648,himachal pradesh,BILASPUR,2000,Kharif,Arhar/Tur,3.00,1.0
64740,jammu and kashmir,ANANTNAG,2000,Kharif,Maize,25686.00,31810.0
66249,jharkhand,BOKARO,2002,Autumn,Maize,1589.28,2223.4
67515,karnataka,BAGALKOT,2000,Kharif,Arhar/Tur,4984.00,3693.0
86129,kerala,ALAPPUZHA,2000,Autumn,Rice,9808.00,16384.0
89898,madhya pradesh,AGAR MALWA,2013,Kharif,Arhar/Tur,1834.00,739.0
110479,maharashtra,AHMEDNAGAR,2000,Kharif,Arhar/Tur,19100.00,9400.0
121096,manipur,BISHNUPUR,2000,Kharif,Other Kharif pulses,270.00,130.0
122088,meghalaya,EAST GARO HILLS,2000,Kharif,Arhar/Tur,109.00,92.0
124534,mizoram,AIZAWL,2000,Kharif,Arhar/Tur,69.00,249.0
125345,nagaland,DIMAPUR,2000,Kharif,Arhar/Tur,700.00,690.0
129067,odisha,ANUGUL,2000,Autumn,Rice,22840.00,7460.0
140221,puducherry,KARAIKAL,2000,Kharif,Cotton(lint),183.00,953.0
141019,punjab,AMRITSAR,2000,Kharif,Arhar/Tur,1200.00,1400.0
143678,rajasthan,AJMER,2000,Kharif,Arhar/Tur,43.00,NaN
153948,sikkim,EAST DISTRICT,2000,Kharif,Maize,10210.00,15700.0
154587,tamil nadu,ARIYALUR,2008,Kharif,Rice,24574.00,NaN
165959,telangana,ADILABAD,2000,Kharif,Arhar/Tur,38996.00,9437.0
170866,tripura,DHALAI,2000,Kharif,Cotton(lint),440.00,655.0
172162,uttar pradesh,AGRA,2000,Kharif,Arhar/Tur,5067.00,8166.0
200256,uttarakhand,ALMORA,2000,Kharif,Arhar/Tur,5.00,2.0
205152,west bengal,24 PARAGANAS NORTH,2000,Autumn,Rice,28438.00,47660.0

In [97]:
check.groupby('season').head(1)

,state,district,year,season,crop,area,production,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,53.0,59.0,171.3,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,53.0,59.0,171.3,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
64,andaman and nicobar islands,NICOBARS,2010,Autumn,Rice,3.5,10.0,101.7,8.0,0.7,12.5,319.0,448.9,521.9,563.8,263.3,402.4,268.5,246.4,3157.1
66,andaman and nicobar islands,NICOBARS,2010,Rabi,Arecanut,944.0,1610.0,101.7,8.0,0.7,12.5,319.0,448.9,521.9,563.8,263.3,402.4,268.5,246.4,3157.1
10897,assam,BAKSA,2005,Summer,Rice,12650.0,17027.0,22.8,30.5,172.2,207.5,281.2,373.9,474.5,501.9,174.9,218.6,8.9,1.3,2468.3
10907,assam,BAKSA,2005,Winter,Rice,66229.0,93287.0,22.8,30.5,172.2,207.5,281.2,373.9,474.5,501.9,174.9,218.6,8.9,1.3,2468.3

In [105]:
check['production_by_area'] = check['production '] / check['area']
check.head()

,state,district,year,season,crop,area,production,JAN,FEB,MAR,...,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,C,production_by_area
0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,53.0,59.0,171.3,...,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,1.594896,1.594896
1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,53.0,59.0,171.3,...,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,0.500000,0.500000
2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,53.0,59.0,171.3,...,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.147059,3.147059
3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,53.0,59.0,171.3,...,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.642045,3.642045
4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,53.0,59.0,171.3,...,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,0.229167,0.229167

In [103]:
check.columns

Index(['state', 'district', 'year', 'season', 'crop', 'area', 'production ',
       'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT',
       'NOV', 'DEC', 'ANNUAL'],
      dtype='object')

In [ ]:
check.to_csv('check.csv')