In [32]:
import pandas as pd
crop_data = pd.read_csv('crop_production_main.csv')
rain_data = pd.read_csv('rainfall_data.csv')
check = pd.read_csv('check.csv')
crop_data.head()

,Unnamed: 0,Unnamed: 0.1,state,district,year,season,crop,area,production
0,0,0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,1,1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,2,2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,3,3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,4,4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [30]:
crop_data.drop(crop_data.loc[crop_data['year']==1997].index, inplace=True)
crop_data.drop(crop_data.loc[crop_data['year']==1998].index, inplace=True)
crop_data.drop(crop_data.loc[crop_data['year']==1999].index, inplace=True)
crop_data.to_csv('crop_production_main.csv')

In [88]:
crop_data.drop(crop_data.loc[crop_data['state'] == 'puducherry'].index, inplace=True)
crop_data.to_csv('crop_production_main.csv')

In [90]:
df = pd.merge(crop_data, rain_data, how="left", right_on=["SUBDIVISION", "YEAR"], left_on=["state", "year"])
df.to_csv('check.csv', index=False);

In [74]:
df.head()

,state,district,year,season,crop,area,production,SUBDIVISION,YEAR,JAN,...,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2

In [32]:
crop_data.head()

,Unnamed: 0,state,district,year,season,crop,area,production
0,0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [19]:
crop_data.drop(crop_data.loc[crop_data['year']==1999].index, inplace=True)

In [37]:
crop_data = crop_data.drop(crop_data.columns[crop_data.columns.str.contains('Unnamed: 0')],axis = 1)
crop_data.head()
crop_data.to_csv('crop_production_main.csv', index=False)

In [40]:
rain_data = rain_data.drop(rain_data.columns[rain_data.columns.str.contains('Unnamed: 0')],axis = 1)
rain_data.head()
rain_data.to_csv('rainfall_data.csv', index=False)

In [47]:
check.head(50)

,state,district,year,season,crop,area,production,SUBDIVISION,YEAR,JAN,...,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.00,2000.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.00,1.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.00,321.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.00,641.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.00,165.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
5,andaman and nicobar islands,NICOBARS,2000,Whole Year,Coconut,18168.00,65100000.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
6,andaman and nicobar islands,NICOBARS,2000,Whole Year,Dry ginger,36.00,100.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
7,andaman and nicobar islands,NICOBARS,2000,Whole Year,Sugarcane,1.00,2.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
8,andaman and nicobar islands,NICOBARS,2000,Whole Year,Sweet potato,5.00,15.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
9,andaman and nicobar islands,NICOBARS,2000,Whole Year,Tapioca,40.00,169.00,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
10,andaman and nicobar islands,NICOBARS,2001,Kharif,Arecanut,1254.00,2061.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
11,andaman and nicobar islands,NICOBARS,2001,Kharif,Other Kharif pulses,2.00,1.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
12,andaman and nicobar islands,NICOBARS,2001,Kharif,Rice,83.00,300.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
13,andaman and nicobar islands,NICOBARS,2001,Whole Year,Cashewnut,719.00,192.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
14,andaman and nicobar islands,NICOBARS,2001,Whole Year,Coconut,18190.00,64430000.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
15,andaman and nicobar islands,NICOBARS,2001,Whole Year,Dry ginger,46.00,100.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
16,andaman and nicobar islands,NICOBARS,2001,Whole Year,Sugarcane,1.00,1.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
17,andaman and nicobar islands,NICOBARS,2001,Whole Year,Sweet potato,11.00,33.00,andaman and nicobar islands,2001.0,89.0,...,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
18,andaman and nicobar islands,NICOBARS,2002,Kharif,Rice,189.20,510.84,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
19,andaman and nicobar islands,NICOBARS,2002,Whole Year,Arecanut,1258.00,2083.00,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
20,andaman and nicobar islands,NICOBARS,2002,Whole Year,Banana,213.00,1278.00,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
21,andaman and nicobar islands,NICOBARS,2002,Whole Year,Black pepper,63.00,13.50,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
22,andaman and nicobar islands,NICOBARS,2002,Whole Year,Cashewnut,719.00,208.00,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
23,andaman and nicobar islands,NICOBARS,2002,Whole Year,Coconut,18240.00,67490000.00,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
24,andaman and nicobar islands,NICOBARS,2002,Whole Year,Dry chillies,413.00,28.80,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
25,andaman and nicobar islands,NICOBARS,2002,Whole Year,Dry ginger,47.30,133.00,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
26,andaman and nicobar islands,NICOBARS,2002,Whole Year,Sugarcane,5.00,40.00,andaman and nicobar islands,2002.0,10.6,...,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
27,andaman and nicobar islands,NICOBARS,2003,Kharif,Rice,52.00,90.17,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
28,andaman and nicobar islands,NICOBARS,2003,Whole Year,Arecanut,1261.00,1525.00,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
29,andaman and nicobar islands,NICOBARS,2003,Whole Year,Banana,266.00,1763.00,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
30,andaman and nicobar islands,NICOBARS,2003,Whole Year,Black pepper,75.50,15.86,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
31,andaman and nicobar islands,NICOBARS,2003,Whole Year,Cashewnut,717.00,208.50,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
32,andaman and nicobar islands,NICOBARS,2003,Whole Year,Coconut,18284.74,68580000.00,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
33,andaman and nicobar islands,NICOBARS,2003,Whole Year,Dry chillies,60.00,102.00,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
34,andaman and nicobar islands,NICOBARS,2003,Whole Year,Dry ginger,102.00,326.40,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
35,andaman and nicobar islands,NICOBARS,2003,Whole Year,other oilseeds,4.20,0.30,andaman and nicobar islands,2003.0,44.3,...,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
36,andaman and nicobar islands,NICOBARS,2004,Kharif,Rice,52.94,72.57,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
37,andaman and nicobar islands,NICOBARS,2004,Whole Year,Arecanut,1264.70,805.85,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
38,andaman and nicobar islands,NICOBARS,2004,Whole Year,Banana,66.42,404.12,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
39,andaman and nicobar islands,NICOBARS,2004,Whole Year,Black pepper,85.00,15.86,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
40,andaman and nicobar islands,NICOBARS,2004,Whole Year,Cashewnut,683.50,197.90,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
41,andaman and nicobar islands,NICOBARS,2004,Whole Year,Coconut,18394.70,52380000.00,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
42,andaman and nicobar islands,NICOBARS,2004,Whole Year,Dry chillies,60.00,145.20,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
43,andaman and nicobar islands,NICOBARS,2004,Whole Year,Dry ginger,118.00,366.00,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
44,andaman and nicobar islands,NICOBARS,2004,Whole Year,other oilseeds,1.00,0.11,andaman and nicobar islands,2004.0,54.5,...,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1
45,andaman and nicobar islands,NICOBARS,2005,Kharif,Rice,2.09,12.06,andaman and nicobar islands,2005.0,0.0,...,51.1,305.3,452.4,429.3,311.1,507.5,293.5,300.1,283.9,2954.7
46,andaman and nicobar islands,NICOBARS,2005,Whole Year,Arecanut,795.67,NaN,andaman and nicobar islands,2005.0,0.0,...,51.1,305.3,452.4,429.3,311.1,507.5,293.5,300.1,283.9,2954.7
47,andaman and nicobar islands,NICOBARS,2005,Whole Year,Banana,22.00,582.00,andaman and nicobar islands,2005.0,0.0,...,51.1,305.3,452.4,429.3,311.1,507.5,293.5,300.1,283.9,2954.7
48,andaman and nicobar islands,NICOBARS,2005,Whole Year,Black pepper,41.00,0.10,andaman and nicobar islands,2005.0,0.0,...,51.1,305.3,452.4,429.3,311.1,507.5,293.5,300.1,283.9,2954.7
49,andaman and nicobar islands,NICOBARS,2005,Whole Year,Cashewnut,450.00,55.80,andaman and nicobar islands,2005.0,0.0,...,51.1,305.3,452.4,429.3,311.1,507.5,293.5,300.1,283.9,2954.7

In [49]:
crop_data.head()

,state,district,year,season,crop,area,production
0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [51]:
rain_data.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,andaman and nicobar islands,2000,53.0,59.0,171.3,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
1,andaman and nicobar islands,2001,89.0,15.7,143.3,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9
2,andaman and nicobar islands,2002,10.6,0.0,11.5,100.2,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2
3,andaman and nicobar islands,2003,44.3,7.9,149.2,19.4,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9
4,andaman and nicobar islands,2004,54.5,35.9,36.5,41.6,505.1,423.9,378.9,308.7,280.7,223.9,169.9,0.4,2460.1

In [52]:
check.head()

,state,district,year,season,crop,area,production,SUBDIVISION,YEAR,JAN,...,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,andaman and nicobar islands,2000.0,53.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2

In [79]:
rain_data.groupby("SUBDIVISION").head(1)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,andaman and nicobar islands,2000,53.0,59.0,171.3,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
15,arunachal pradesh,2000,54.1,47.1,139.9,293.8,267.2,459.8,395.4,387.4,407.4,81.3,53.9,9.6,2596.8
30,assam,2000,20.5,13.7,65.9,238.5,375.1,540.2,313.3,513.2,299.9,83.9,22.2,0.4,2487.0
45,meghalaya,2000,20.5,13.7,65.9,238.5,375.1,540.2,313.3,513.2,299.9,83.9,22.2,0.4,2487.0
60,bihar,2000,0.5,12.1,3.6,37.2,96.2,267.2,264.3,201.4,314.8,9.6,0.0,0.1,1207.0
75,chhattisgarh,2000,2.6,0.0,0.6,1.5,9.3,180.7,322.4,215.6,169.1,4.3,0.2,0.1,906.3
90,andhra pradesh,2000,0.1,42.4,0.7,19.1,68.4,200.5,154.1,311.5,102.9,69.6,10.6,12.4,992.3
105,rajasthan,2000,0.3,0.6,0.4,2.3,21.0,20.2,270.6,95.5,28.7,0.4,0.0,0.1,440.0
120,uttar pradesh,2000,2.6,5.3,2.9,10.5,38.6,199.1,240.9,204.7,222.7,1.3,18.1,0.2,946.8
135,bengal,2000,9.5,57.9,3.8,54.0,215.0,205.6,341.5,178.4,428.4,76.2,1.6,0.1,1572.1
150,gujarat,2000,0.0,0.1,0.0,0.0,36.1,62.9,301.1,133.0,13.5,0.2,0.0,3.6,550.6
165,haryana,2000,17.1,29.1,1.4,1.3,22.8,58.9,146.8,87.9,17.5,0.0,0.4,1.2,384.4
180,himachal pradesh,2000,118.2,119.0,68.1,25.6,79.9,198.0,265.1,126.7,50.1,0.0,10.5,6.9,1068.4
195,jammu and kashmir,2000,159.5,106.6,90.4,30.4,51.1,95.5,193.7,123.6,73.2,1.4,21.0,38.2,984.6
210,jharkhand,2000,3.6,21.2,6.3,19.6,67.7,185.3,358.4,152.8,356.9,19.1,0.4,0.2,1191.5
225,kerala,2000,11.7,57.8,21.5,96.3,124.5,633.8,343.2,566.5,195.8,214.2,78.1,69.1,2412.6
240,goa,2000,1.2,0.0,0.0,0.9,190.3,739.4,1200.4,789.5,111.9,91.8,1.6,6.2,3133.2
255,lakshadweep,2000,83.3,18.9,3.4,47.9,204.6,225.4,95.5,319.9,164.5,141.4,56.3,11.0,1372.1
270,maharashtra,2000,0.4,1.1,0.2,1.7,18.5,173.0,198.7,159.6,87.0,56.5,2.7,2.1,701.6
285,tripura,2000,22.5,26.1,129.1,214.2,403.6,325.4,269.2,465.0,298.3,185.2,24.2,1.1,2363.9
300,karnataka,2000,0.4,2.6,0.1,8.4,49.0,107.5,127.1,164.6,134.4,115.1,2.8,0.5,712.4
315,odisha,2000,0.9,33.3,1.1,21.3,74.7,233.7,272.3,273.6,158.0,26.6,1.6,0.1,1097.2
330,punjab,2000,25.4,26.6,6.9,1.3,15.3,50.1,164.8,70.0,42.0,0.0,0.7,2.2,405.3
345,sikkim,2000,10.7,36.2,55.1,185.1,326.5,649.6,574.3,498.1,465.8,82.9,22.6,1.2,2908.0
360,tamil nadu,2000,30.3,74.5,9.4,41.6,54.7,52.2,45.8,136.1,169.8,120.3,148.6,88.9,972.0
375,telangana,2000,0.6,16.8,1.0,16.3,48.8,253.2,220.9,420.5,70.7,20.2,6.4,2.5,1078.0
390,uttarakhand,2000,29.9,69.4,37.9,18.1,83.3,313.9,420.1,536.1,195.3,1.1,7.0,0.7,1712.9
405,madhya pradesh,2000,0.1,NaN,0.1,0.1,30.1,93.4,320.5,136.2,31.6,1.2,0.0,0.2,NaN
420,manipur,2000,22.5,26.1,129.1,214.2,403.6,325.4,269.2,465.0,298.3,185.2,24.2,1.1,2363.9
435,nagaland,2000,22.5,26.1,129.1,214.2,403.6,325.4,269.2,465.0,298.3,185.2,24.2,1.1,2363.9
450,mizoram,2000,22.5,26.1,129.1,214.2,403.6,325.4,269.2,465.0,298.3,185.2,24.2,1.1,2363.9

In [72]:
crop_data.groupby("state").head(1)

,state,district,year,season,crop,area,production
0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.00,2000.0
203,andhra pradesh,ANANTAPUR,2000,Kharif,Arhar/Tur,30693.00,7888.0
8771,arunachal pradesh,ANJAW,2004,Kharif,Maize,2453.00,2674.0
10878,assam,BAKSA,2005,Autumn,Rice,17083.00,15415.0
23677,bihar,ARARIA,2000,Autumn,Rice,88865.00,84685.0
39335,chandigarh,CHANDIGARH,2000,Kharif,Arhar/Tur,20.00,NaN
39403,chhattisgarh,BALOD,2011,Kharif,Arhar/Tur,607.00,290.0
50112,dadra and nagar haveli,DADRA AND NAGAR HAVELI,2000,Kharif,Arhar/Tur,1466.00,1078.0
50336,goa,NORTH GOA,2004,Kharif,Groundnut,3204.00,5234.0
50532,gujarat,AHMADABAD,2000,Kharif,Arhar/Tur,4600.00,1500.0
57645,haryana,AMBALA,2000,Kharif,Arhar/Tur,257.00,300.0
62648,himachal pradesh,BILASPUR,2000,Kharif,Arhar/Tur,3.00,1.0
64740,jammu and kashmir,ANANTNAG,2000,Kharif,Maize,25686.00,31810.0
66249,jharkhand,BOKARO,2002,Autumn,Maize,1589.28,2223.4
67515,karnataka,BAGALKOT,2000,Kharif,Arhar/Tur,4984.00,3693.0
86129,kerala,ALAPPUZHA,2000,Autumn,Rice,9808.00,16384.0
89898,madhya pradesh,AGAR MALWA,2013,Kharif,Arhar/Tur,1834.00,739.0
110479,maharashtra,AHMEDNAGAR,2000,Kharif,Arhar/Tur,19100.00,9400.0
121096,manipur,BISHNUPUR,2000,Kharif,Other Kharif pulses,270.00,130.0
122088,meghalaya,EAST GARO HILLS,2000,Kharif,Arhar/Tur,109.00,92.0
124534,mizoram,AIZAWL,2000,Kharif,Arhar/Tur,69.00,249.0
125345,nagaland,DIMAPUR,2000,Kharif,Arhar/Tur,700.00,690.0
129067,odisha,ANUGUL,2000,Autumn,Rice,22840.00,7460.0
140221,puducherry,KARAIKAL,2000,Kharif,Cotton(lint),183.00,953.0
141019,punjab,AMRITSAR,2000,Kharif,Arhar/Tur,1200.00,1400.0
143678,rajasthan,AJMER,2000,Kharif,Arhar/Tur,43.00,NaN
153948,sikkim,EAST DISTRICT,2000,Kharif,Maize,10210.00,15700.0
154587,tamil nadu,ARIYALUR,2008,Kharif,Rice,24574.00,NaN
165959,telangana,ADILABAD,2000,Kharif,Arhar/Tur,38996.00,9437.0
170866,tripura,DHALAI,2000,Kharif,Cotton(lint),440.00,655.0
172162,uttar pradesh,AGRA,2000,Kharif,Arhar/Tur,5067.00,8166.0
200256,uttarakhand,ALMORA,2000,Kharif,Arhar/Tur,5.00,2.0
205152,west bengal,24 PARAGANAS NORTH,2000,Autumn,Rice,28438.00,47660.0

In [97]:
check.groupby('season').head(1)

,state,district,year,season,crop,area,production,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,53.0,59.0,171.3,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,53.0,59.0,171.3,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
64,andaman and nicobar islands,NICOBARS,2010,Autumn,Rice,3.5,10.0,101.7,8.0,0.7,12.5,319.0,448.9,521.9,563.8,263.3,402.4,268.5,246.4,3157.1
66,andaman and nicobar islands,NICOBARS,2010,Rabi,Arecanut,944.0,1610.0,101.7,8.0,0.7,12.5,319.0,448.9,521.9,563.8,263.3,402.4,268.5,246.4,3157.1
10897,assam,BAKSA,2005,Summer,Rice,12650.0,17027.0,22.8,30.5,172.2,207.5,281.2,373.9,474.5,501.9,174.9,218.6,8.9,1.3,2468.3
10907,assam,BAKSA,2005,Winter,Rice,66229.0,93287.0,22.8,30.5,172.2,207.5,281.2,373.9,474.5,501.9,174.9,218.6,8.9,1.3,2468.3

In [105]:
check['production_by_area'] = check['production '] / check['area']
check.head()

,state,district,year,season,crop,area,production,JAN,FEB,MAR,...,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,C,production_by_area
0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,53.0,59.0,171.3,...,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,1.594896,1.594896
1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,53.0,59.0,171.3,...,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,0.500000,0.500000
2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,53.0,59.0,171.3,...,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.147059,3.147059
3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,53.0,59.0,171.3,...,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.642045,3.642045
4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,53.0,59.0,171.3,...,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,0.229167,0.229167

In [103]:
check.columns

Index(['state', 'district', 'year', 'season', 'crop', 'area', 'production ',
       'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT',
       'NOV', 'DEC', 'ANNUAL'],
      dtype='object')

In [ ]:
check.to_csv('check.csv')

In [3]:
check.head()

,Unnamed: 0,state,district,year,season,crop,area,production,JAN,FEB,...,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,production_by_area
0,0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,1.594896
1,1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,0.500000
2,2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.147059
3,3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.642045
4,4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,0.229167

In [4]:
import sklearn as sk

In [5]:
check.head()

,Unnamed: 0,state,district,year,season,crop,area,production,JAN,FEB,...,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,production_by_area
0,0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,1.594896
1,1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,0.500000
2,2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.147059
3,3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.642045
4,4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,0.229167

In [9]:
check.groupby("crop").head(10)

,Unnamed: 0,state,district,year,season,crop,area,production,JAN,FEB,...,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,production_by_area
0,0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.00,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,1.594896
1,1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.00,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,0.500000
2,2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.00,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.147059
3,3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.00,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.642045
4,4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.00,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,0.229167
5,5,andaman and nicobar islands,NICOBARS,2000,Whole Year,Coconut,18168.0,65100000.00,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3583.223250
6,6,andaman and nicobar islands,NICOBARS,2000,Whole Year,Dry ginger,36.0,100.00,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,2.777778
7,7,andaman and nicobar islands,NICOBARS,2000,Whole Year,Sugarcane,1.0,2.00,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,2.000000
8,8,andaman and nicobar islands,NICOBARS,2000,Whole Year,Sweet potato,5.0,15.00,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.000000
9,9,andaman and nicobar islands,NICOBARS,2000,Whole Year,Tapioca,40.0,169.00,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,4.225000
10,10,andaman and nicobar islands,NICOBARS,2001,Kharif,Arecanut,1254.0,2061.00,89.0,15.7,...,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9,1.643541
11,11,andaman and nicobar islands,NICOBARS,2001,Kharif,Other Kharif pulses,2.0,1.00,89.0,15.7,...,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9,0.500000
12,12,andaman and nicobar islands,NICOBARS,2001,Kharif,Rice,83.0,300.00,89.0,15.7,...,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9,3.614458
13,13,andaman and nicobar islands,NICOBARS,2001,Whole Year,Cashewnut,719.0,192.00,89.0,15.7,...,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9,0.267038
14,14,andaman and nicobar islands,NICOBARS,2001,Whole Year,Coconut,18190.0,64430000.00,89.0,15.7,...,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9,3542.056075
15,15,andaman and nicobar islands,NICOBARS,2001,Whole Year,Dry ginger,46.0,100.00,89.0,15.7,...,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9,2.173913
16,16,andaman and nicobar islands,NICOBARS,2001,Whole Year,Sugarcane,1.0,1.00,89.0,15.7,...,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9,1.000000
17,17,andaman and nicobar islands,NICOBARS,2001,Whole Year,Sweet potato,11.0,33.00,89.0,15.7,...,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9,3.000000
18,18,andaman and nicobar islands,NICOBARS,2002,Kharif,Rice,189.2,510.84,10.6,0.0,...,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2,2.700000
19,19,andaman and nicobar islands,NICOBARS,2002,Whole Year,Arecanut,1258.0,2083.00,10.6,0.0,...,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2,1.655803
20,20,andaman and nicobar islands,NICOBARS,2002,Whole Year,Banana,213.0,1278.00,10.6,0.0,...,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2,6.000000
21,21,andaman and nicobar islands,NICOBARS,2002,Whole Year,Black pepper,63.0,13.50,10.6,0.0,...,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2,0.214286
22,22,andaman and nicobar islands,NICOBARS,2002,Whole Year,Cashewnut,719.0,208.00,10.6,0.0,...,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2,0.289291
23,23,andaman and nicobar islands,NICOBARS,2002,Whole Year,Coconut,18240.0,67490000.00,10.6,0.0,...,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2,3700.109649
24,24,andaman and nicobar islands,NICOBARS,2002,Whole Year,Dry chillies,413.0,28.80,10.6,0.0,...,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2,0.069734
25,25,andaman and nicobar islands,NICOBARS,2002,Whole Year,Dry ginger,47.3,133.00,10.6,0.0,...,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2,2.811839
26,26,andaman and nicobar islands,NICOBARS,2002,Whole Year,Sugarcane,5.0,40.00,10.6,0.0,...,366.7,358.3,317.4,429.8,420.0,169.0,306.7,129.9,2620.2,8.000000
27,27,andaman and nicobar islands,NICOBARS,2003,Kharif,Rice,52.0,90.17,44.3,7.9,...,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9,1.734038
28,28,andaman and nicobar islands,NICOBARS,2003,Whole Year,Arecanut,1261.0,1525.00,44.3,7.9,...,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9,1.209358
29,29,andaman and nicobar islands,NICOBARS,2003,Whole Year,Banana,266.0,1763.00,44.3,7.9,...,296.3,159.9,494.9,379.4,371.9,310.4,74.1,48.0,2355.9,6.627820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165042,165042,tamil nadu,VIRUDHUNAGAR,2002,Whole Year,Ber,14.0,0.00,2.9,22.1,...,32.6,23.7,11.8,26.5,32.2,93.7,47.2,12.2,318.0,0.000000
165532,165532,telangana,ADILABAD,2002,Whole Year,other fibres,45.0,0.00,18.8,10.1,...,32.0,143.2,91.7,321.7,52.4,76.2,3.9,0.0,765.3,0.000000
167182,167182,telangana,MAHBUBNAGAR,2003,Whole Year,Peas (vegetable),3.0,0.00,0.0,10.7,...,7.9,112.6,312.2,266.5,103.2,101.7,7.3,5.3,963.2,0.000000
167707,167707,telangana,MEDAK,2002,Whole Year,Peas (vegetable),16.0,0.00,18.8,10.1,...,32.0,143.2,91.7,321.7,52.4,76.2,3.9,0.0,765.3,0.000000
167771,167771,telangana,MEDAK,2003,Whole Year,Peas (vegetable),26.0,0.00,0.0,10.7,...,7.9,112.6,312.2,266.5,103.2,101.7,7.3,5.3,963.2,0.000000
168777,168777,telangana,NIZAMABAD,2002,Whole Year,Peas (vegetable),42.0,0.00,18.8,10.1,...,32.0,143.2,91.7,321.7,52.4,76.2,3.9,0.0,765.3,0.000000
169345,169345,telangana,RANGAREDDI,2002,Whole Year,Peas (vegetable),12.0,0.00,18.8,10.1,...,32.0,143.2,91.7,321.7,52.4,76.2,3.9,0.0,765.3,0.000000
169401,169401,telangana,RANGAREDDI,2003,Whole Year,Other Dry Fruit,7.0,0.00,0.0,10.7,...,7.9,112.6,312.2,266.5,103.2,101.7,7.3,5.3,963.2,0.000000
169405,169405,telangana,RANGAREDDI,2003,Whole Year,Peas (vegetable),31.0,0.00,0.0,10.7,...,7.9,112.6,312.2,266.5,103.2,101.7,7.3,5.3,963.2,0.000000
169921,169921,telangana,WARANGAL,2002,Whole Year,Peas (vegetable),16.0,0.00,18.8,10.1,...,32.0,143.2,91.7,321.7,52.4,76.2,3.9,0.0,765.3,0.000000
170305,170305,tripura,DHALAI,2000,Kharif,Jute & mesta,480.0,4060.00,22.5,26.1,...,403.6,325.4,269.2,465.0,298.3,185.2,24.2,1.1,2363.9,8.458333
170313,170313,tripura,DHALAI,2001,Kharif,Jute & mesta,780.0,6380.00,1.5,46.9,...,313.8,478.0,322.6,263.0,269.0,266.4,65.4,0.2,2149.0,8.179487
170325,170325,tripura,DHALAI,2002,Whole Year,Jute & mesta,760.0,5660.00,18.6,3.9,...,438.7,351.6,462.2,358.4,225.7,98.9,71.9,6.0,2242.3,7.447368
170334,170334,tripura,DHALAI,2003,Whole Year,Jute & mesta,461.0,3672.00,3.8,11.5,...,265.6,590.9,262.4,281.7,288.4,175.1,5.1,40.9,2162.2,7.965293
170691,170691,tripura,NORTH TRIPURA,2000,Kharif,Jute & mesta,366.0,3320.00,22.5,26.1,...,403.6,325.4,269.2,465.0,298.3,185.2,24.2,1.1,2363.9,9.071038
170699,170699,tripura,NORTH TRIPURA,2001,Kharif,Jute & mesta,320.0,2780.00,1.5,46.9,...,313.8,478.0,322.6,263.0,269.0,266.4,65.4,0.2,2149.0,8.687500
170711,170711,tripura,NORTH TRIPURA,2002,Whole Year,Jute & mesta,361.0,3000.00,18.6,3.9,...,438.7,351.6,462.2,358.4,225.7,98.9,71.9,6.0,2242.3,8.310249
170720,170720,tripura,NORTH TRIPURA,2003,Whole Year,Jute & mesta,395.0,3381.00,3.8,11.5,...,265.6,590.9,262.4,281.7,288.4,175.1,5.1,40.9,2162.2,8.559494
171013,171013,tripura,SOUTH TRIPURA,2000,Kharif,Jute & mesta,1020.0,8200.00,22.5,26.1,...,403.6,325.4,269.2,465.0,298.3,185.2,24.2,1.1,2363.9,8.039216
171021,171021,tripura,SOUTH TRIPURA,2001,Kharif,Jute & mesta,970.0,8370.00,1.5,46.9,...,313.8,478.0,322.6,263.0,269.0,266.4,65.4,0.2,2149.0,8.628866
200024,200024,uttarakhand,ALMORA,2014,Kharif,Total foodgrain,69700.0,82372.00,45.9,99.9,...,52.9,62.9,462.7,264.2,107.9,40.8,0.0,44.3,1287.4,1.181808
200035,200035,uttarakhand,ALMORA,2014,Rabi,Total foodgrain,39987.0,45039.00,45.9,99.9,...,52.9,62.9,462.7,264.2,107.9,40.8,0.0,44.3,1287.4,1.126341
200042,200042,uttarakhand,ALMORA,2014,Whole Year,Total foodgrain,109687.0,127411.00,45.9,99.9,...,52.9,62.9,462.7,264.2,107.9,40.8,0.0,44.3,1287.4,1.161587
200368,200368,uttarakhand,BAGESHWAR,2014,Kharif,Total foodgrain,21798.0,30724.00,45.9,99.9,...,52.9,62.9,462.7,264.2,107.9,40.8,0.0,44.3,1287.4,1.409487
200378,200378,uttarakhand,BAGESHWAR,2014,Rabi,Total foodgrain,16924.0,15296.00,45.9,99.9,...,52.9,62.9,462.7,264.2,107.9,40.8,0.0,44.3,1287.4,0.903805
200385,200385,uttarakhand,BAGESHWAR,2014,Whole Year,Total foodgrain,38722.0,46020.00,45.9,99.9,...,52.9,62.9,462.7,264.2,107.9,40.8,0.0,44.3,1287.4,1.188472
200719,200719,uttarakhand,CHAMOLI,2014,Kharif,Total foodgrain,28048.0,36141.00,45.9,99.9,...,52.9,62.9,462.7,264.2,107.9,40.8,0.0,44.3,1287.4,1.288541
200730,200730,uttarakhand,CHAMOLI,2014,Rabi,Total foodgrain,15255.0,17630.00,45.9,99.9,...,52.9,62.9,462.7,264.2,107.9,40.8,0.0,44.3,1287.4,1.155687
200737,200737,uttarakhand,CHAMOLI,2014,Whole Year,Total foodgrain,43303.0,53771.00,45.9,99.9,...,52.9,62.9,462.7,264.2,107.9,40.8,0.0,44.3,1287.4,1.241738
201131,201131,uttarakhand,CHAMPAWAT,2014,Kharif,Total foodgrain,14404.0,18604.00,45.9,99.9,...,52.9,62.9,462.7,264.2,107.9,40.8,0.0,44.3,1287.4,1.291586

In [16]:
check = check.sort_values(by='crop')
check.groupby('crop')
check.head()

,Unnamed: 0,state,district,year,season,crop,area,production,JAN,FEB,...,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,production_by_area
155502,155502,tamil nadu,DINDIGUL,2002,Whole Year,Apple,3.0,0.0,2.9,22.1,...,32.6,23.7,11.8,26.5,32.2,93.7,47.2,12.2,318.0,0.000000
155570,155570,tamil nadu,DINDIGUL,2003,Whole Year,Apple,4.0,0.0,0.3,4.1,...,19.8,22.5,38.7,49.3,26.1,86.0,59.5,7.1,348.5,0.000000
161131,161131,tamil nadu,THE NILGIRIS,2003,Whole Year,Apple,1.0,0.0,0.3,4.1,...,19.8,22.5,38.7,49.3,26.1,86.0,59.5,7.1,348.5,0.000000
161083,161083,tamil nadu,THE NILGIRIS,2002,Whole Year,Apple,1.0,0.0,2.9,22.1,...,32.6,23.7,11.8,26.5,32.2,93.7,47.2,12.2,318.0,0.000000
80093,80093,karnataka,KOLAR,2002,Whole Year,Arcanut (Processed),72.0,101.0,3.8,7.9,...,40.6,108.2,54.7,118.2,52.2,126.4,3.4,0.0,530.5,1.402778

In [17]:
check = check.groupby('crop').sum().reset_index()

In [18]:
check.head()

,crop,Unnamed: 0,year,area,production,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,production_by_area
0,Apple,633286,8010,9.00,0.00,6.4,52.4,43.8,52.6,104.8,92.4,101.0,151.6,116.6,359.4,213.4,38.6,1333.0,0.000000
1,Arcanut (Processed),1541246,40040,144116.00,192831.00,76.0,158.0,6.0,294.0,812.0,2164.0,1094.0,2364.0,1044.0,2528.0,68.0,0.0,10610.0,25.696756
2,Arecanut,123721265,2729268,5314501.68,19078528.66,12351.1,21215.1,59497.4,141458.4,219254.1,413310.8,443130.7,361176.3,301564.4,226139.7,95944.8,28067.2,2323098.1,2979.937923
3,Arhar/Tur,671136081,12837870,48310055.21,32577241.33,53280.0,87935.4,107111.3,206094.7,378513.2,1030738.0,1680678.5,1557848.3,1072053.0,447891.4,139131.6,50384.0,6784091.8,5033.059939
4,Ash Gourd,7014032,88114,1644.00,0.00,60.0,504.4,538.2,610.2,1101.6,1011.6,1218.6,1758.8,1258.2,3922.6,2396.6,404.2,14785.0,0.000000

In [25]:
check = check.sort_values(by='production_by_area', ascending=False)

In [27]:
check.head(50)

,crop,Unnamed: 0,year,area,production,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,production_by_area
28,Coconut,156872061,3529767,2.480024e+07,1.188316e+11,14325.3,23525.4,58697.1,139493.2,212485.9,426917.1,485519.1,407725.4,346295.5,274357.1,119711.5,34027.0,2543069.5,7.436420e+06
105,Sugarcane,736609509,13461842,6.538796e+07,4.479974e+09,67072.5,104006.6,140404.9,278783.4,483518.0,1225129.1,1870669.3,1686976.5,1205644.2,544703.4,175660.4,60685.4,7815669.1,1.428683e+06
86,Potato,665823669,12117650,1.905162e+07,3.688534e+08,81601.3,135246.3,166903.4,290106.8,481145.1,1150883.7,1818748.8,1636634.5,1157262.6,414685.6,83106.3,41812.2,7458204.1,7.741740e+04
7,Banana,249272340,5703092,4.604315e+06,1.255240e+08,22836.9,38035.5,78042.3,183712.4,291300.3,639505.6,844983.6,750992.7,531086.3,315326.7,128097.6,41112.1,3865047.0,7.529114e+04
66,Onion,682509630,12419185,5.546898e+06,6.439353e+07,63502.5,105957.6,111133.1,175961.5,298400.9,868519.5,1541041.9,1433284.6,969311.3,392037.7,122880.3,50086.3,6104613.8,7.420908e+04
107,Sweet potato,386753185,7582018,8.274203e+05,6.923198e+06,31361.6,49539.6,78558.6,175010.2,291545.8,728182.3,1111198.3,974808.6,644789.9,332867.8,112768.3,35879.8,4566557.7,3.299089e+04
58,Maize,1284261514,23723027,1.041317e+08,2.420814e+08,124785.9,192490.1,223479.3,396504.6,756740.4,1966644.4,3138646.5,2882551.8,2126248.7,851691.8,213197.2,79081.1,12925152.4,2.576624e+04
94,Rice,1308400376,25759160,6.366906e+08,1.377050e+09,138383.0,221416.5,325979.3,688659.3,1196677.8,2761960.3,3916220.1,3441213.2,2578991.3,1223956.4,320001.3,102841.7,16888701.9,2.564991e+04
108,Tapioca,118263930,2687591,2.859174e+06,8.662916e+07,12155.3,23603.4,61655.9,152325.2,241254.9,418204.8,425735.5,371613.3,290996.6,227307.4,110246.7,34045.1,2369116.8,2.514450e+04
37,Dry ginger,255879845,5386962,1.097134e+06,9.481267e+06,35916.9,60405.2,98439.5,183579.3,273787.5,645665.8,914431.4,796065.4,556637.2,281524.1,83224.1,27414.5,3933788.2,1.435216e+04
118,Wheat,729649188,13471199,3.917095e+08,1.124226e+09,80841.4,127703.9,142928.9,249495.8,432554.6,1162613.5,1917744.7,1733767.2,1189756.0,398684.7,68916.0,34899.7,7512367.3,1.410874e+04
76,Papaya,32458206,968875,1.330440e+05,3.922521e+06,3733.6,7609.2,15853.3,40733.4,65647.5,134846.6,135958.2,130393.6,93291.2,61003.0,16387.0,3830.7,709270.7,1.384248e+04
48,Jute,112803467,2442803,1.201205e+07,1.532656e+08,11634.6,20151.0,46269.1,124146.2,212884.3,372081.2,458986.6,405348.5,318667.8,144752.7,16235.6,5424.9,2136579.2,1.138394e+04
22,Cashewnut,95716778,1949238,5.012500e+06,2.345104e+06,8309.4,13950.7,30620.7,57311.7,97713.4,209494.9,240544.0,212388.3,169159.6,181424.2,109800.7,33411.9,1364106.9,1.028030e+04
113,Turmeric,372735303,7349842,2.525307e+06,9.295860e+06,42541.2,69503.8,108483.0,221422.8,340232.0,796578.3,1118616.5,974412.4,707121.4,384390.2,133297.1,44798.4,4924839.8,1.017489e+04
38,Garlic,333919167,5925509,1.689059e+06,7.939166e+06,31460.2,47697.0,39655.9,42224.6,84532.7,402387.5,814829.5,747960.6,421683.5,129260.0,30992.4,16360.1,2781511.5,9.818713e+03
42,Groundnut,877342035,14885767,8.152864e+07,8.989296e+07,56941.2,78121.0,95239.4,163367.8,342815.6,1117590.8,1886395.9,1828159.4,1277397.3,564256.3,182452.2,59838.8,7624965.0,8.958929e+03
61,Mesta,112532516,3121277,1.308234e+06,1.032758e+07,14898.3,23167.2,43770.9,118063.8,203423.1,394311.3,534825.8,471252.2,355350.0,159321.8,23008.4,8119.3,2349508.3,8.455555e+03
36,Dry chillies,545217626,11250391,8.068294e+06,1.530437e+07,58054.9,91083.6,142921.6,256794.9,392144.1,939337.0,1471437.7,1320951.9,944084.0,452654.8,145145.6,52065.1,6239126.0,7.906960e+03
8,Barley,450853869,7165612,8.238152e+06,1.765237e+07,47502.8,75885.6,55345.7,68116.0,155127.1,499195.4,933002.6,829432.0,544261.5,135287.0,18397.9,17553.4,3355242.4,6.368140e+03
47,Jowar,641679824,11822596,1.068007e+08,8.953371e+07,35818.3,53609.6,62563.5,96587.1,190076.7,768679.2,1373649.6,1314636.8,876680.5,385248.9,143511.5,42382.0,5308531.5,6.255335e+03
32,Cotton(lint),394307025,7703769,1.332889e+08,2.647475e+08,27993.2,46805.2,76661.0,164061.8,265995.8,598371.9,889514.2,844765.1,590719.0,302627.0,132715.2,43387.9,3973179.0,6.069591e+03
6,Bajra,519894366,9129238,1.133904e+08,1.092097e+08,36217.9,55932.5,55198.6,75093.3,148359.9,551319.3,1031955.0,996941.7,648689.8,258605.8,109415.1,39905.8,3986822.6,5.414427e+03
40,Gram,684886978,12675972,9.935756e+07,8.417385e+07,57797.3,90234.8,104751.9,191455.4,353901.9,999706.6,1669623.0,1537760.4,1047662.0,399389.4,107512.4,41854.8,6574108.7,5.213248e+03
3,Arhar/Tur,671136081,12837870,4.831006e+07,3.257724e+07,53280.0,87935.4,107111.3,206094.7,378513.2,1030738.0,1680678.5,1557848.3,1072053.0,447891.4,139131.6,50384.0,6784091.8,5.033060e+03
91,Rapeseed &Mustard,726736573,12995576,7.028595e+07,7.677050e+07,70821.7,113479.6,127433.3,233883.7,430977.0,1125511.3,1837231.2,1680703.4,1148296.6,406003.6,77585.3,37222.9,7261594.8,5.016831e+03
80,Peas & beans (Pulses),443217972,8123542,7.252473e+06,7.035772e+06,53002.2,85262.1,98367.7,193949.2,352911.6,785012.4,1204580.8,1067319.0,770040.5,266205.6,37451.4,22360.6,4936496.5,4.793797e+03
106,Sunflower,518333122,9442732,2.103323e+07,1.170245e+07,34552.2,46793.5,61851.5,106864.8,226276.8,683220.6,1045127.8,1010969.4,768346.6,396372.4,130984.1,42467.7,4540977.7,4.494456e+03
110,Tobacco,228931661,4631325,5.412753e+06,8.943754e+06,21594.0,37086.1,58788.4,130872.2,208932.7,445308.2,651060.4,587626.7,418813.0,206274.2,58000.0,20135.9,2844507.8,4.318768e+03
115,Urad,999442164,17081474,4.001830e+07,1.893176e+07,87329.7,132566.8,142430.4,245792.9,463773.1,1360458.7,2302665.7,2163346.2,1554432.9,624438.1,176226.9,66751.1,9320238.8,4.180994e+03
89,Ragi,342192832,6976120,2.014121e+07,2.861260e+07,34237.2,47992.1,59417.9,96257.2,191542.9,520041.9,854957.4,829438.4,632643.6,343222.1,129927.5,44266.2,3779007.5,4.166279e+03
62,Moong(Green Gram),994722886,18049864,4.087475e+07,1.543351e+07,84582.3,126094.1,141122.9,256312.7,511161.6,1435247.9,2418496.0,2261606.0,1637162.1,672748.2,183967.3,67063.4,9795585.8,4.038615e+03
101,Sesamum,875992487,15388395,2.357137e+07,9.464394e+06,74492.3,111562.2,140817.9,271259.4,504652.0,1356158.7,2136859.4,1979181.7,1404659.0,592986.8,165212.1,56477.7,8766734.1,3.580118e+03
82,Pineapple,12797460,495886,1.627600e+05,2.127594e+06,2098.8,4275.5,14490.2,38194.4,60247.8,111885.8,104193.4,82378.7,61349.9,39055.5,9497.8,1944.0,529600.1,3.457245e+03
2,Arecanut,123721265,2729268,5.314502e+06,1.907853e+07,12351.1,21215.1,59497.4,141458.4,219254.1,413310.8,443130.7,361176.3,301564.4,226139.7,95944.8,28067.2,2323098.1,2.979938e+03
111,Tomato,31108397,737756,4.448070e+05,4.724984e+06,2139.4,4290.6,3581.9,7664.9,15181.8,45017.4,56469.5,67186.1,48828.9,40298.8,14168.7,2765.5,307589.5,2.880120e+03
104,Soyabean,324011851,5496517,1.181386e+08,1.224573e+08,26234.9,39873.8,50136.2,86134.7,156257.3,473007.0,797985.4,735788.8,480132.6,162668.3,40513.4,14321.0,3035454.5,2.839821e+03
18,Brinjal,32741819,773914,1.559480e+05,1.442172e+06,2200.6,5059.1,5219.4,11103.4,20750.6,53776.9,62073.9,72798.3,47908.6,52799.5,17114.6,2941.0,353739.2,2.794833e+03
102,Small millets,385758559,8109286,1.139480e+07,4.873269e+06,44953.1,74803.3,120157.9,239347.1,362742.7,827781.2,1188863.2,1061994.7,744678.7,357869.9,106168.2,42614.4,5150543.1,2.658479e+03
60,Masoor,438505460,7705663,1.735120e+07,1.185180e+07,45634.6,75161.8,78898.3,142371.8,269848.6,680842.3,1139053.3,1008136.9,697395.2,216484.0,26024.9,17309.0,4397202.9,2.641001e+03
41,Grapes,13264461,258461,6.690300e+04,1.751593e+06,521.7,1266.1,911.8,1650.1,2880.3,13302.8,16130.8,19112.6,11621.4,11288.6,3267.3,726.3,82682.1,2.480656e+03
19,Cabbage,15401435,411155,2.035500e+04,3.114190e+05,1530.1,2844.9,2495.9,5366.0,11332.8,28171.6,36960.0,44571.6,33296.7,24974.1,9663.1,1957.6,203156.1,2.431774e+03
67,Orange,16440093,543734,2.052010e+05,2.338803e+06,2165.9,4223.3,11441.8,27767.4,45028.0,83840.4,84465.1,69244.1,58039.6,27713.4,5235.0,2828.8,421983.6,2.293517e+03
99,Sannhamp,238769831,4233794,2.198270e+05,2.849162e+05,19938.7,32962.4,19786.3,23736.0,61347.1,276951.4,565412.6,500772.3,319736.3,85489.7,15921.5,8963.1,1903439.9,2.259959e+03
39,Ginger,22646882,485000,9.836900e+04,8.219257e+05,4625.0,8625.5,10080.4,21974.7,46294.3,75127.9,89135.2,80524.3,59586.8,19737.3,2818.7,2793.3,421313.5,2.065922e+03
56,Linseed,385366468,7466221,4.804244e+06,1.965783e+06,33006.8,52831.2,65228.0,137566.8,254276.2,686083.2,1086530.8,972672.2,671542.0,239595.9,36637.4,14364.9,4223370.3,1.958036e+03
25,Castor seed,272442234,5826557,1.095591e+07,1.356180e+07,16475.2,28526.1,58057.2,130924.9,205094.3,495166.5,759908.3,729235.5,479972.7,263537.1,102053.6,32565.0,3288023.1,1.923044e+03
59,Mango,44136625,900033,2.380346e+06,1.277054e+07,2037.3,6086.7,6076.9,13203.8,21765.0,81254.9,87593.4,90027.9,55307.4,51004.8,16237.2,3442.6,434032.1,1.784576e+03
68,Other Rabi pulses,258533308,5500209,6.364318e+06,3.450935e+06,22893.8,40891.8,56559.4,116725.1,195552.2,499982.7,798471.8,727111.8,469828.1,192631.0,31528.9,12336.6,3136913.8,1.711108e+03
73,Other Kharif pulses,335274650,6586174,9.375903e+06,3.747729e+06,34829.6,56823.7,63129.1,97260.1,188232.0,520335.8,884162.4,834440.1,533627.3,213068.2,55934.8,23004.4,3477244.2,1.621174e+03

In [29]:
check.head()

,Unnamed: 0,state,district,year,season,crop,area,production,JAN,FEB,...,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,production_by_area
0,0,andaman and nicobar islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,1.594896
1,1,andaman and nicobar islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,0.500000
2,2,andaman and nicobar islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.147059
3,3,andaman and nicobar islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,3.642045
4,4,andaman and nicobar islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,53.0,59.0,...,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2,0.229167

In [45]:
df = check.groupby(['crop'], as_index=False)['production_by_area'].sum()
df = df.sort_values('production_by_area', ascending=False)

In [46]:
df.head()

          crop  production_by_area
28    Coconut         7.436420e+06
105  Sugarcane        1.428683e+06
86      Potato        7.741740e+04
7       Banana        7.529114e+04
66       Onion        7.420908e+04

In [47]:
df.to_csv('crop_compare.csv')